.menuItem {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menuItem .icon-button {
  margin-right: 0.5rem;
}

.menuItem .icon-button:hover {
  filter: none;
}

.menuItem:hover {
  background-color: #525357;
}

.iconButton {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.iconButton:hover {
  filter: brightness(1.2);
}

.iconButton svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.iconRight {
  margin-left: auto;
}
